@import url('../variables.css');

.create-post {
  width: 30rem;
  background: var(--white);
  padding: 3rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.create-post__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-post__submit-btn {
  background: var(--primary);
  color: var(--white);
  font-size: 1.6rem;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.create-post__input {
  border-radius: 0.5rem;
  border: solid 0.1rem var(--black);
  height: 3rem;
  font-size: 1.6rem;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.create-post__textarea {
  resize: vertical;
  height: 15em;
}

@media (max-width: 1026px) {
  .create-post {
    width: 27rem;
  }
}
